@import '../../../../styles/variable.scss';

.btnMyInfo {
  position: absolute;
  top: 45%;
  left: -90px;
  padding: 10px 4px;
  transform: rotate(90deg);
  font-size: 18px;
  background-color: $theme-color;
  color: white;

  &:hover {
    cursor: pointer;
  }

  span {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 6px 24px 6px 30px;

    i {
      margin-left: 6px;
    }
  }
}
