.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
  z-index: 10000;

  .outBox {
    position: absolute;
    margin: auto 0;
    width: 480px;
    height: 721px;
    background: radial-gradient(
        circle at 0 100%,
        rgba(204, 0, 0, 0) 19px,
        white 20px
      ),
      radial-gradient(circle at 100% 100%, rgba(204, 0, 0, 0) 19px, white 20px),
      radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 19px, white 20px),
      radial-gradient(circle at 0 0, rgba(204, 0, 0, 0) 19px, white 20px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 51% 51%;
    padding: 32px 0 20px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    display: block;

    .close {
      position: relative;
      bottom: -40px;
      left: 410px;
      padding: 1px 6px;
      width: 26px;
      height: 26px;
      background: url('https://stimg.emart.com:448/peacock/img/button-popup-close.jpg')
        no-repeat;
      cursor: pointer;
      -webkit-appearance: button;
    }

    h1 {
      position: relative;
      top: 70px;
      left: 30px;
      font-size: 44px;
      font-weight: 1700;
    }

    .infoContainer {
      position: relative;
      top: 100px;
      left: 25px;
      padding: 0 100px 0 15px;
      border-bottom: 2px solid #1f695b;
      width: 416px;
      height: 91px;

      .myInfo {
        position: relative;
        top: 35px;
        width: 301px;
        height: 54px;
        font-size: 20px;
        border-right: none;
        border-top: none;
        border-left: none;
      }
    }

    .numContainer {
      position: relative;
      top: 100px;
      left: 25px;
      padding: 0 100px 0 15px;
      border-bottom: 2px solid #1f695b;
      width: 416px;
      height: 91px;

      .secretNumber {
        position: relative;
        top: 35px;
        width: 301px;
        height: 54px;
        font-size: 20px;
        border-right: none;
        border-top: none;
        border-left: none;
      }
    }

    .saveBtn {
      position: relative;
      top: 130px;
      left: 40px;
    }

    label {
      position: relative;
      top: 128px;
      left: 50px;
    }

    .loginBtn {
      position: relative;
      top: 170px;
      left: 30px;
      width: 416px;
      height: 64px;
      color: white;
      background-color: #1f695b;
      font-size: 26px;
      font-weight: bold;
      font-family: 'dincond-boldregular', sans-serif;
      text-align: center;
    }

    .changeBtn {
      color: #158c76;
    }

    .nomalBtn {
      color: #1f695b;
      font-size: 26px;
    }

    .signInBtn {
      position: relative;
      top: 190px;
      left: 30px;
      width: 416px;
      height: 64px;
      color: white;
      background-color: #1f695b;
      font-family: 'dincond-boldregular', sans-serif;
      font-weight: bold;
      font-size: 26px;
      text-align: center;
    }
  }
}

.X {
  display: none;
}
