.cartItemContainer {
  display: flex;
  flex-direction: row;
  padding: 20px 8px;
  justify-content: space-between;
  align-items: center;

  .itemCheckbox {
    width: 15px;
    height: 15px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
  }

  .cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    .itemImage {
      width: 80px;
      height: 80px;
      margin: 0 10px;
      object-fit: cover;
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      .itemCategory {
        font-size: 14px;
        font-weight: bold;
      }

      .itemName {
        margin-top: 8px;
      }

      .itemPrice {
        margin-top: 10px;
        font-weight: bold;

        i {
          transform: scale(0.8);
        }
      }
    }

    .btnDeleteCartItem {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
