.categoryListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  color: #ffffff;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    &:hover {
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        flex: 1;
        height: 1px;
        transition: background-color 0.3s ease-out;
        background-color: white;
      }

      &:after {
        content: '';
        display: block;
        flex: 1;
        height: 1px;
        transition: background-color 0.3s ease-out;
        background-color: white;
      }
    }
  }
}
