.detailImageTop {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  animation: detailImageTopTransfer 1.5s ease-in-out;
  @keyframes detailImageTopTransfer {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  .imageTopInfo {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 400px;
    color: #ba9180;
    margin-top: 200px;
    font-size: 28px;
  }
  p {
    margin: 10px;
    line-height: 40px;
    font-size: 18px;
  }
  figure {
    img {
      max-width: 424px;
    }
  }
}
