.detailImageBottom {
  display: block;
  max-width: 100%;
  margin-top: 85px;
  font-size: 30px;
  h1 {
    color: #ba9180;
  }

  figure {
    margin-top: 30px;
    animation: detailImageTopTransfer 1.5s ease-in-out;
    @keyframes detailImageTopTransfer {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: none;
      }
    }
  }
}
