.productCountBtn {
  position: relative;
  width: 220px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #1f695b;
  color: white;
  font-size: 22px;

  input {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 70px;
  }
  .button {
    i {
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
