* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  src: url('../styles/fonts/DINCond-Medium\ Regular.otf');
  font-family: mecook;
}
