.best {
  display: block;
  max-width: 960px;
  margin: 0 auto;

  .bestHeader {
    margin: 187px auto 80px auto;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 7px;

    ::after {
      content: '';
      display: block;
      width: 20px;
      padding-bottom: 20px;
      border-bottom: 3px solid black;
    }

    span {
      left: 0;
    }
  }

  .BestList {
    display: flex;
    justify-content: center;
    max-width: 960px;
    flex-wrap: wrap;
    padding-bottom: 96px;

    .product {
      display: block;
      width: 320px;
      height: 423px;
      border: 2px solid green;
    }
  }
}
