.review {
  width: 960px;
  height: 100%;
  border: 3px solid black;
  .reviewTop {
    .reviewTitle {
      font-size: 30px;
      span {
        font-size: 15px;
      }
    }
    .textArea {
      display: flex;
      width: 100%;
      border: 2px solid green;
      .textInputBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        margin-right: 15px;
        border: 2px solid black;
        .textInput {
          width: 390px;
          height: 70px;
          margin-right: 15px;
          border: transparent;
          resize: none;
        }
        .textInputLimit {
          text-align: right;
          font-size: 10px;
        }
      }
      .textInputBtn {
        width: 90px;
        height: 90px;
        color: gray;
        background-color: black;
      }
    }

    .reviewList {
      li {
        display: flex;
        height: 70px;
        width: 500px;
        border-bottom: 1px solid black;
        .reviewContent {
          display: flex;
          align-items: center;
          width: 400px;
          font-weight: 300;
        }
        .reviewInfo {
          width: 90px;
          margin: auto;
          #userId {
          }
          #userDate {
            font-weight: 300;
          }
        }
      }
    }
  }
  .viewMore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 70px;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      text-decoration: none;
      color: black;
      font-weight: 700;

      &:before {
        content: '';
        display: block;
        flex: 1;
        height: 1px;
        background-color: black;
      }

      &:after {
        content: '';
        display: block;
        flex: 1;
        height: 1px;
        background-color: black;
      }
    }
    span {
    }
  }
}
