@font-face {
  src: url('../../styles/fonts/DINCond-Medium\ Regular.otf');
  font-family: mecook;
}

.original_header {
  position: fixed;
  width: 100%;
  font-family: mecook;
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-weight: 700;
  background-color: transparent;

  @media only screen and (min-width: 850px) {
    .threeLine {
      display: none;
    }

    .menuBtn {
      margin-right: 30px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 3px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      color: white;

      &:hover {
        color: white;
      }

      &::after {
        display: block;
        content: '';
        border-bottom: solid 2px white;
        padding-bottom: 5px;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    .logo {
      font-size: 20px;
      color: white;
    }
  }

  @media only screen and (max-width: 849px) {
    .threeLine {
      color: white;
      font-size: 20px;

      i {
        padding-right: 10px;
        color: white;
      }
    }

    .logo,
    .menu a {
      display: none;
    }
  }
  .login {
    display: flex;
    align-items: center;

    button {
      font-family: mecook;
      width: 80px;
      height: 35px;
      border-color: white;
      border-radius: 20px;
      border-style: solid;
      color: white;
      font-size: 13px;
      font-weight: 800;
      background-color: transparent;
    }

    a {
      margin-left: 20px;
      margin-right: 30px;
      font-size: 25px;
      text-decoration: none;
      color: white;
    }
  }
}

.change_header {
  position: fixed;
  width: 100%;
  font-family: mecook;
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  background-color: white;
  opacity: 0.7;

  @media only screen and (min-width: 850px) {
    .threeLine {
      display: none;
    }

    .menuBtn {
      margin-right: 30px;
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 3px;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      color: black;

      &:hover {
        color: #168c76;
      }

      &::after {
        display: block;
        content: '';
        border-bottom: solid 2px #168c76;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    .logo {
      font-size: 20px;
      color: black;
    }
  }

  @media only screen and (max-width: 849px) {
    .threeLine {
      font-size: 20px;

      i {
        padding-right: 10px;
        color: black;
      }
    }

    .logo,
    .menu {
      display: none;
    }
  }
  .login {
    display: flex;
    align-items: center;

    button {
      font-family: mecook;
      width: 80px;
      height: 35px;
      border-radius: 20px;
      border-color: black;
      border-style: solid;
      color: black;
      font-size: 13px;
      font-weight: 800;
      background-color: transparent;
    }

    a {
      margin-left: 20px;
      margin-right: 30px;
      font-size: 25px;
      text-decoration: none;
      color: black;
    }
  }
}
