@import '../../styles/variable.scss';

@font-face {
  src: url('../../styles/fonts/DINCond-Medium\ Regular.otf');
  font-family: mecook;
}

.original {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: white;
  font-family: mecook;
  font-weight: 700;
  top: 0;
  z-index: 1;
  padding: 10px 80px;

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (min-width: 1200px) {
    .threeLine {
      display: none;
    }

    .menuBtn {
      margin: 0 50px;
      font-weight: 800;
      font-size: 22px;
      letter-spacing: 3px;
      text-decoration: none;
      display: inline-block;
      color: black;

      &:hover {
        color: black;
      }

      &::after {
        display: block;
        content: '';
        border-bottom: solid 2px black;
        padding-bottom: 5px;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    .logo {
      font-size: 25px;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  @media only screen and (max-width: 1199px) {
    .threeLine {
      color: black;
      font-size: 25px;

      i {
        padding-right: 10px;
        color: black;
      }
    }

    .logo,
    .menu a {
      display: none;
    }
  }
  .login {
    display: flex;
    align-items: center;

    button {
      font-family: mecook;
      padding: 10px 25px;
      border-color: black;
      border-radius: 20px;
      border-style: solid;
      color: black;
      font-size: 15px;
      font-weight: 800;
      background-color: transparent;
      cursor: pointer;
    }

    a {
      margin: 0 30px 0 20px;
      font-size: 28px;
      text-decoration: none;
      color: black;
    }
  }
}

.change {
  background-color: white;
  opacity: 0.7;

  @media only screen and (min-width: 1200px) {
    .menuBtn {
      color: black;

      &:hover {
        color: $theme-color;
      }

      &::after {
        border-bottom: solid 2px $theme-color;
      }
    }

    .logo {
      a {
        color: black;
      }
    }
  }

  @media only screen and (max-width: 1199px) {
    .threeLine {
      font-size: 20px;
      color: black;

      i {
        color: black;
      }
    }
  }

  .login {
    button {
      border-color: black;
      color: black;
    }

    a {
      color: black;
    }
  }
}
